body {
  font-family: "Lato", sans-serif;
}
/* Banner Style start */
.banner {
  display: flex;
  background: rgba(229, 84, 115, 0.1);
}
.banner-tittle {
  color: #272727;
  font-size: 60px;
  font-weight: 1000;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 30px;
}
.banner-text {
  padding: 150px 150px;
}
.banner img {
  width: 600px;
  height: 700px;
  flex-shrink: 0;
  padding-right: 70px;
  padding-top: 70px;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  gap: 10px;
  color: #fff;
  font-weight: 700;
  border: 0;
}
/* Banner Style Finished */

/* Feature style start */
.features {
  text-align: center;
  padding: 120px;
  margin-left: 370px;
  margin-right: 370px;
}
.features-tittle {
  font-size: 40px;
  font-weight: 800;
}
.features-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  font-weight: 400;
}
/* Feature style Finished */

/*  */
/* Flower style start */

.featured-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 50px;
}
.tree-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}

.first {
  width: 400px;
  height: 500px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}

.red-flower {
  display: flex;
  justify-content: center;
  align-items: end;
}

.second {
  width: 400px;
  height: 500px;
  background-color: #0597a026;
  border-radius: 300px 300px 0px 0px;
}

.mixed-flower {
  display: flex;
  justify-content: center;
  align-items: center;
}

.third {
  width: 400px;
  height: 500px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.yellow-flower {
  display: flex;
  justify-content: center;
  align-items: end;
}

/*  */
